[submodule "external/ESP8266_RTOS_SDK"]
	path = external/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "external/libmcu"]
	path = external/libmcu
	url = https://github.com/onkwon/libmcu.git
[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf.git
